.DS_Store
*.tar.gz
*.Rproj.user
*.Rhistory
*.Ruserdata
*.out
.Rproj.user
*.Rout
.Rout
*.ROut
.ROut
figures/*.RData
results/*.RData
simulation/*.RData
experiment/*.RData
data/*.RData
*.html
.html
*.js
.js
*.css
.css
.DS_Store
*.Rproj
.Rproj
.Rapp.history
*.Rapp.history
